
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 60% 10%; /* Azul Meia-Noite */
    --foreground: 220 13% 91%; /* Branco-Gelo */

    --card: 210 60% 13%; /* Tom de card sutilmente mais claro */
    --card-foreground: 220 13% 91%;

    --popover: 210 60% 10%;
    --popover-foreground: 220 13% 91%;

    --primary: 285 19% 68%; /* Ameixa */
    --primary-foreground: 210 60% 10%;

    --secondary: 210 60% 20%;
    --secondary-foreground: 220 13% 91%;

    --muted: 210 60% 15%;
    --muted-foreground: 220 13% 70%;

    --accent: 33 99% 47%; /* Laranja Queimado */
    --accent-foreground: 210 60% 10%;

    --destructive: 348 53% 37%; /* Bordô */
    --destructive-foreground: 220 13% 91%;

    --border: 210 60% 25%;
    --input: 210 60% 20%;
    --ring: 285 19% 75%;
    --radius: 0.75rem; /* Aumentei um pouco o arredondamento para um look mais moderno */
  }

  /* Vamos manter o modo escuro idêntico por enquanto */
  .dark {
    --background: 210 60% 10%;
    --foreground: 220 13% 91%;
    --card: 210 60% 13%;
    --card-foreground: 220 13% 91%;
    --popover: 210 60% 10%;
    --popover-foreground: 220 13% 91%;
    --primary: 285 19% 68%;
    --primary-foreground: 210 60% 10%;
    --secondary: 210 60% 20%;
    --secondary-foreground: 220 13% 91%;
    --muted: 210 60% 15%;
    --muted-foreground: 220 13% 70%;
    --accent: 33 99% 47%;
    --accent-foreground: 210 60% 10%;
    --destructive: 348 53% 37%;
    --destructive-foreground: 220 13% 91%;
    --border: 210 60% 25%;
    --input: 210 60% 20%;
    --ring: 285 19% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
